<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Afmeld</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="@{Styles.css}"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h2>Er du sikker på at du vil afmelde</h2>

    <form action="#" th:action="@{/afmeld}" method="post">
        <p th:text="${barn.fornavn + ' ' +  barn.efternavn}"></p>
        <input type="hidden" th:field="${barn.id}"/>

        <input class="btn btn-danger" type="submit" value="JA"/>
        <a href="/home" class="btn btn-Basic ">NEJ</a>

    </form>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>